@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --background-color-primary: white;
}

body {
  background-color: var(--background-color-primary);
  width: 100vw;
  max-width: 900px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0px;
}

/* navbar component */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5% 2% 5%;
  border-bottom: #4f88b9 solid 3px;
}
.navbar__heading {
  font-family: pacifico, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  filter: drop-shadow(5px 0px 10px #4f88b9);
}
.navbar__links-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar__link {
  background-color: #3c6e99;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.5s ease-out;
  background-color: #4f88b9;
  cursor: pointer;
}
.navbar__link:hover {
  background-color: #2e5474;
}
.navbar__link a {
  color: white;
}

/* upload-photo page*/
.upload-photo-section {
  display: grid;
  height: 90vh;
  place-content: center;
}

.upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  width: 600px;
  max-width: 85vw;
}
.upload-form .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 55%;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #111f2b;
  margin-bottom: 15px;
}
.upload-form .image-container .border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #111f2b dashed 3px;
  height: 90%;
  width: 90%;
  border-radius: 10px;
}
.upload-form .image-container .border .image {
  height: 80%;
}
.upload-form .status {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.upload-form .warning {
  color: red;
}
.upload-form #image-input[type=file] {
  display: none;
}
.upload-form .btn {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
  text-transform: capitalize;
  border-radius: 10px;
  background-color: #4f88b9;
  border: none;
}
.upload-form .btn:hover {
  background-color: #2e5474;
}

/*  error page */
.error-container {
  display: grid;
  place-content: center;
  height: 90vh;
}

.error {
  padding: 5%;
  text-align: center;
}
.error__message {
  font-size: 1.5rem;
  margin-bottom: 10%;
}
.error__icon {
  color: red;
  height: 50px;
}
.error__button {
  background-color: #3c6e99;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.5s ease-out;
  border: none;
  color: white;
  font-size: 1.2rem;
}
.error__button a {
  color: white;
}
.error__button:hover {
  transform: scale(1.1);
}