.navbar-center {
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5% 2% 5%;
  border-bottom: $border-color-1 solid 3px;

  &__heading {
    font-family: $main-heading;
    font-size: 2rem;
    filter: drop-shadow(5px 0px 10px $border-color-1);
  }

  &__links-container {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__link {
    @include button;
    background-color: lighten($color-theme-1, 40%);
    cursor: pointer;

    &:hover {
      background-color: lighten($color-theme-1, 20%);
    }
    a {
      color: white;
    }
  }
}
